<% @flights.each do |flight| %><br>
<section id='flight-<%= flight.id %>'>
  Flight Number:<%= flight.id %><br>
  Origin:<%= flight.origin %><br>
  Destination:<%= flight.destination %><br>
  Passengers: <% flight.passengers.each do |passenger| %>
                <%= passenger.name %> <%= link_to 'Remove From Flight', "/#{flight.id}/#{passenger.id}", method: :delete %>, 
                <% end %>
</section>
<% end %>
